body{
  margin: 0;
  background-color: rgb(131, 173, 173);
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 80vh;
        transition: 0.5s ease all;
}
.container{
  margin: 150px auto;
  text-align: center;
}
.text1
{
  color:rgb(248, 239, 239);
  font-size: 40px;
}
.text2
{
  font-size: 30px;
}
#clock
{
  font-size: 40px;
}
h1{
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffff;
}
#time{
  font-size: 5em;
  color: #ffff;
}
#btn-start
{
  background-color: #159211;
}
#btn-stop
{
  background-color: #aa1723;
}
#btn-reset
{
  background-color: #a77d0b;
}
button{
  border: none;
  padding: 18px 10px;
  font-size: 1.5em;
  width: 180px;
  margin: 10px;
  border-radius: 15px;
  color: #ffffff;
  font-weight: bold;
}
button:hover{
  cursor: pointer;
  background-color: transparent;
  color: rgb(49, 47, 47);
  transition: 0.4s;
  border: none;
}